## Recap - Data Types

In [1]:
type(5)

int

In [2]:
type(5.7)

float

In [3]:
type("a")

str

In [4]:
type(True)

bool

## Variables

In [5]:
a = 5

In [6]:
a * 8

40

In [7]:
a / 2

2.5

In [8]:
a = a + 2

In [9]:
a

7

## Data Structures

## List (array)

In [10]:
numList = [4, 6.5, 8, 10, 2, a]

In [11]:
numList

[4, 6.5, 8, 10, 2, 7]

In [12]:
type(numList)

list

In [13]:
numList[1]

6.5

In [14]:
numList[0]

4

In [16]:
numList[5]

7

In [17]:
numList

[4, 6.5, 8, 10, 2, 7]

In [18]:
numList[-1]

7

In [19]:
numList[-2]

2

In [20]:
numList[6]

IndexError: list index out of range

In [21]:
numList[10/2]

TypeError: list indices must be integers or slices, not float

In [22]:
type(10/2)

float

In [23]:
numList[10//2]

7

In [24]:
numList[int(10/2)]

7

In [25]:
generalList = [numList, "Hello World", True, 10, 10.10, [1, 2, 5, 7, 9]]

In [26]:
generalList

[[4, 6.5, 8, 10, 2, 7], 'Hello World', True, 10, 10.1, [1, 2, 5, 7, 9]]

In [27]:
generalList[0],[-1]

([4, 6.5, 8, 10, 2, 7], [-1])

In [29]:
generalList[-1][0]

1

In [30]:
generalList[1]

'Hello World'

## Nested List
numList is nested in generalList

In [31]:
numList

[4, 6.5, 8, 10, 2, 7]

In [32]:
numList.append("String")

In [33]:
numList

[4, 6.5, 8, 10, 2, 7, 'String']

In [34]:
numList.insert(3, True)

In [35]:
numList

[4, 6.5, 8, True, 10, 2, 7, 'String']

In [36]:
numList.remove(8) # Removes the first instance of the element

In [37]:
numList

[4, 6.5, True, 10, 2, 7, 'String']

In [39]:
numList.pop(2) #Removes the elements at the specified index, and returns it

10

In [40]:
numList

[4, 6.5, 2, 7, 'String']

In [41]:
numList.append(8)

In [42]:
numList.insert(0, 8)

In [43]:
numList

[8, 4, 6.5, 2, 7, 'String', 8]

In [44]:
numList.remove(8)

In [45]:
numList

[4, 6.5, 2, 7, 'String', 8]

In [46]:
del generalList

In [47]:
generalList

NameError: name 'generalList' is not defined

In [48]:
del numList[-1]

In [49]:
numList

[4, 6.5, 2, 7, 'String']

In [50]:
numList

[4, 6.5, 2, 7, 'String']

In [51]:
value = numList.pop(0)

In [52]:
numList

[6.5, 2, 7, 'String']

In [53]:
value

4

In [54]:
value ** 3

64

In [55]:
value **= 3

In [56]:
value

64

In [63]:
numList.append(numList)

In [64]:
numList

[6.5, 2, 7, 'String', [...], [...], [...], [...], [...]]

In [65]:
numList.extend(numList)

In [66]:
numList

[6.5,
 2,
 7,
 'String',
 [...],
 [...],
 [...],
 [...],
 [...],
 6.5,
 2,
 7,
 'String',
 [...],
 [...],
 [...],
 [...],
 [...]]

## List Slicing

In [67]:
numList

[6.5,
 2,
 7,
 'String',
 [...],
 [...],
 [...],
 [...],
 [...],
 6.5,
 2,
 7,
 'String',
 [...],
 [...],
 [...],
 [...],
 [...]]

In [68]:
numList[1:7]

[2,
 7,
 'String',
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]]]

In [69]:
numList[1:-3]

[2,
 7,
 'String',
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 6.5,
 2,
 7,
 'String',
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]]]

In [70]:
numList[:-3]

[6.5,
 2,
 7,
 'String',
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 6.5,
 2,
 7,
 'String',
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]]]

In [71]:
numList[:-1]

[6.5,
 2,
 7,
 'String',
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 6.5,
 2,
 7,
 'String',
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]]]

In [72]:
numList[1:]

[2,
 7,
 'String',
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 6.5,
 2,
 7,
 'String',
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]]]

## Part 2

## Dictionaries
This consists of key-value pairs {key;value}

In [74]:
generalDict = {"Hello": "World", 2: True, False: 33.5}

In [75]:
generalDict["Hello"]

'World'

In [77]:
generalDict[1]

KeyError: 1

In [78]:
generalDict[2]

True

In [79]:
generalDict[False]

33.5

In [80]:
generalDict["Hello"] = "Moon"

In [81]:
generalDict["Hello"]

'Moon'

In [82]:
generalDict.keys()

dict_keys(['Hello', 2, False])

In [83]:
generalDict.keys()

dict_keys(['Hello', 2, False])

In [84]:
generalDict.values()

dict_values(['Moon', True, 33.5])

In [85]:
generalDict["Goodbye"] = 44

In [86]:
generalDict["Goodbye"]

44

## Tuples
Immutable - can"t modify the values after creation

In [93]:
generalTuple = (2, 3.5, "Hello", True)

In [94]:
generalTuple[0]

2

In [95]:
generalTuples[-1]

True

In [151]:
generalTuple.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [97]:
del generalTuple[2]

TypeError: 'tuple' object doesn't support item deletion

In [98]:
list(generalTuple)

[2, 3.5, 'Hello', True]

In [99]:
tuple(numList)

(6.5,
 2,
 7,
 'String',
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 6.5,
 2,
 7,
 'String',
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]],
 [6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...],
  6.5,
  2,
  7,
  'String',
  [...],
  [...],
  [...],
  [...],
  [...]])

In [100]:
generalTuple

(2, 3.5, 'Hello', True)

In [101]:
print(type(generalTuple))
print(type(list(generalTuple)))
print(type(generalTuple))

<class 'tuple'>
<class 'list'>
<class 'tuple'>

## Pandas

In [102]:
import pandas as pd

In [103]:
#pd.read_csv("") # comma separated values

In [106]:
df = pd.DataFrame({
    "Names" : ["Sam", "David", "Muhammed", "James", "Marina"],
    "Class" : ["Programming", "Data Vis", "Machine Learning", "Statistics", "Maths"]
})

In [110]:
df

      Names             Class
0       Sam       Programming
1     David          Data Vis
2  Muhammed  Machine Learning
3     James        Statistics
4    Marina             Maths

In [111]:
type(df)

pandas.core.frame.DataFrame

In [112]:
df

      Names             Class
0       Sam       Programming
1     David          Data Vis
2  Muhammed  Machine Learning
3     James        Statistics
4    Marina             Maths

In [113]:
df.head()

      Names             Class
0       Sam       Programming
1     David          Data Vis
2  Muhammed  Machine Learning
3     James        Statistics
4    Marina             Maths

In [114]:
df.head(3)

      Names             Class
0       Sam       Programming
1     David          Data Vis
2  Muhammed  Machine Learning

In [115]:
df.tail(4)

      Names             Class
1     David          Data Vis
2  Muhammed  Machine Learning
3     James        Statistics
4    Marina             Maths

In [116]:
df.sample(3)

    Names        Class
1   David     Data Vis
0     Sam  Programming
4  Marina        Maths

In [117]:
df.shape

(5, 2)

In [120]:
df.describe()

       Names        Class
count      5            5
unique     5            5
top      Sam  Programming
freq       1            1

In [123]:
df.loc[0]

Names            Sam
Class    Programming
Name: 0, dtype: object

In [126]:
df.set_index("Names", inplace=True)

In [127]:
df

                     Class
Names
Sam            Programming
David             Data Vis
Muhammed  Machine Learning
James           Statistics
Marina               Maths

In [129]:
df.loc["Sam", "Class"]

'Programming'

In [130]:
df.loc["Sam"]

Class    Programming
Name: Sam, dtype: object

In [131]:
df.iloc[0]

Class    Programming
Name: Sam, dtype: object

In [132]:
df.iloc[0,0]

'Programming'

In [133]:
df.reset_index(inplace=True)

In [134]:
df

      Names             Class
0       Sam       Programming
1     David          Data Vis
2  Muhammed  Machine Learning
3     James        Statistics
4    Marina             Maths

In [135]:
df.iloc[:-1, :]

      Names             Class
0       Sam       Programming
1     David          Data Vis
2  Muhammed  Machine Learning
3     James        Statistics

In [137]:
df.iloc[: , :-1]

      Names
0       Sam
1     David
2  Muhammed
3     James
4    Marina

In [139]:
df.iloc[1:4, :]

      Names             Class
1     David          Data Vis
2  Muhammed  Machine Learning
3     James        Statistics

In [140]:
df

      Names             Class
0       Sam       Programming
1     David          Data Vis
2  Muhammed  Machine Learning
3     James        Statistics
4    Marina             Maths

In [149]:
df.index = range (65,70)

In [150]:
df

       Names             Class
65       Sam       Programming
66     David          Data Vis
67  Muhammed  Machine Learning
68     James        Statistics
69    Marina             Maths